body{
    background-color: black;
    color: white;
}

.formulario {
    margin-top: 200px;
    padding: 60px;
    max-width: 300px;
    background-color: #E7E7E7;
    margin: 0 auto;
    }

    form input, form textarea{
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box; 
        border: none; 
        color: #525c66; 
        font-size: 1em;
        resize: none; 
      }